*.env
*.xml
*.locale

# Exclude the following directories
discord/*
CurseForge/*
Code/*
Electron/*
obs-studio/*
spotify/*
unity3d/*
vscode/*
WebCord/*
BraveSoftware/*
cef_user_data/*
systemd/*
neofetch/*
htop/*
gtk/*
evolution/*
dconf/*
